<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reserva Natural</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>

        (function(){
            $.getJSON("../isLogged").done(function (data) {
                if (data.mensaje == 'no'){
                    $("#add_user").show();
                    $("#cerrar_session").hide();
                    $("#login_user").show();
                    $("#home").hide();
                    $("#user_menu").hide();
                }else{
                    $("#add_user").hide();
                    $("#cerrar_session").show();
                    $("#home").show();
                    $("#login_user").hide();
                    $("#user_menu").show();
                }
            });
        })();

        function logout(){
            $.getJSON("../logout").done(function (data) {
                if (data.mensaje == 'ok'){
                     window.location = "../";
                }else{
                    alert("Hubo un error");
                }
            });
        }

        (function(){
            $.getJSON("../consultarEspecie").done(function (data) {
                if (data){
                    data =  $.parseJSON(data);
                    var especie = $("#especie");
                    var imagenespecie = $("#imagenespecie");
                    var desclarga = $("#desclarga");

                    $(data).each(function() {
                        var divimg=$('<div>');
                        $(divimg).append('<img src="../../'+this.fields.fotoFile+'" class="img-responsive" style="width:200px;height:200px"/>');
                        $(imagenespecie).append(divimg);

                        var test = $("input[name=hdnespecie]:hidden").val(this.pk.toString());

                        var div = $('<div>');
                        //$(div).append("<b>ID:</b> "+ this.pk + '<br>');
                        $(div).append("<b>Nombre Especie:</b> "+ this.fields.nombre + '<br>');
                        $(div).append("<b>Clasificacion Taxonomica:</b> " + this.fields.clasificacion_taxonomica + '<br>');
                        $(div).append("<b>Nombre Cientifico:</b> " + this.fields.nombre_cientifico + '<br>');
                        $(div).append("<b>Categoria:</b> "+this.fields.categoria + '<br>');
                        $(div).append("<b>Descripcion Corta:</b> "+this.fields.descripcion_corta);
                        $(especie).append(div);

                        var divdesc=$('<div>');
                        $(divdesc).append("<b>Descripcion Larga:</b> "+this.fields.descripcion_larga);
                        $(desclarga).append(divdesc);
                    });
                }
            });
        })();

        (function(){
            $.getJSON("../consultarEspecieComentario").done(function (data) {
                if (data){
                    data =  $.parseJSON(data);
                    var Comentario = $("#comentario");

                    var div

                    $(data).each(function(index)
                    {
                        div = $('<div>');
                        //$(div).append(index + '<br>');
                        $(div).append("<b>De:<b/> "+ this.fields.correo_electronico + '<br>');
                        $(div).append(this.fields.descripcion + '<br><br>');
                        $(Comentario).append(div);
                    });
                }
            });
        })();

        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Biodiversidad</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="login_user"><a href="../ingresar"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
                <li id="add_user"><a href="../agregarUsuario">Registro</a> </li>
                <li ide="home"><a  href="../"><span class="glyphicon glyphicon-home"></span> Home</a> </li>
                <li id="cerrar_session"><a id="click_cerrar_sesion" href="#" onclick="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a> </li>
            </ul>
             <ul  class="nav navbar-nav navbar-right">
                <li id="user_menu" class="dropdown">
                    <a  href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Menu Usuario<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li id="mod_user"><a href="../perfil">Perfil</a> </li>
                        <li id="mod_pass"><a href="../modificarPassword">Modificacion de Password</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
    <form id="formespecie" action="../agregarEspecieComentario/" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-md-4 col-sm-offset-4">
                    <div align="center">&nbsp;</div>
                    <div>
                        <table>
                            <tr>
                                <td valign="top">
                                    <div id="imagenespecie"></div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td valign="top">
                                    <div id="especie"></div>
                                </td>
                            </tr>
                        </table>
                        <div id="desclarga"></div>
                    </div>
                <div id="div5">&nbsp;</div>

                <div id="comentario">
                    <h3>Comentarios:</h3>
                </div>

                <div id="div6comentariostitulo"><h3>Agrega un comentario sobre esta especie</h3></div>
                <div id="agregacomentario">
                    <textarea id="comentarios" name="comentarios" placeholder="Comentario" rows="5" class="form-control input-md" required></textarea>
                    <br/>
                    <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required/>
                    <br/>
                    <input type="hidden" id="hdnespecie" name="hdnespecie" value="">
                    <div>
                        <input type="submit" value="Comentar" class="btn btn-primary"/>&nbsp;<a href="../">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>