<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reserva Natural</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        (function(){
            $.getJSON("../consultarEspecie").done(function (data) {
                if (data){
                    data =  $.parseJSON(data);
                    var especie = $("#especie");
                    var imagenespecie = $("#imagenespecie");
                    var desclarga = $("#desclarga");

                    $(data).each(function() {
                        var divimg=$('<div>');
                        $(divimg).append('<img src="../../'+this.fields.fotoFile+'" class="img-responsive" style="width:200px;height:200px"/>');
                        $(imagenespecie).append(divimg);

                        var test = $("input[name=hdnespecie]:hidden").val(this.pk.toString());

                        var div = $('<div>');
                        //$(div).append("<b>ID:</b> "+ this.pk + '<br>');
                        $(div).append("<b>Nombre Especie:</b> "+ this.fields.nombre + '<br>');
                        $(div).append("<b>Clasificacion Taxonomica:</b> " + this.fields.clasificacion_taxonomica + '<br>');
                        $(div).append("<b>Nombre Cientifico:</b> " + this.fields.nombre_cientifico + '<br>');
                        $(div).append("<b>Categoria:</b> "+this.fields.categoria + '<br>');
                        $(div).append("<b>Descripcion Corta:</b> "+this.fields.descripcion_corta);
                        $(especie).append(div);

                        var divdesc=$('<div>');
                        $(divdesc).append("<b>Descripcion Larga:</b> "+this.fields.descripcion_larga);
                        $(desclarga).append(divdesc);
                    });
                }
            });
        })();

        (function(){
            $.getJSON("../consultarEspecieComentario").done(function (data) {
                if (data){
                    data =  $.parseJSON(data);
                    var Comentario = $("#comentario");

                    var div

                    $(data).each(function(index)
                    {
                        div = $('<div>');
                        //$(div).append(index + '<br>');
                        $(div).append("<b>De:<b/> "+ this.fields.correo_electronico + '<br>');
                        $(div).append(this.fields.descripcion + '<br><br>');
                        $(Comentario).append(div);
                    });
                }
            });
        })();

        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
    <form id="formespecie" action="../agregarEspecieComentario/" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-md-4 col-sm-offset-4">
                    <div align="center">&nbsp;</div>
                    <div>
                        <table>
                            <tr>
                                <td valign="top">
                                    <div id="imagenespecie"></div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td valign="top">
                                    <div id="especie"></div>
                                </td>
                            </tr>
                        </table>
                        <div id="desclarga"></div>
                    </div>
                <div id="div5">&nbsp;</div>

                <div id="comentario">
                    <h3>Comentarios:</h3>
                </div>

                <div id="div6comentariostitulo"><h3>Agrega un comentario sobre esta especie</h3></div>
                <div id="agregacomentario">
                    <textarea id="comentarios" name="comentarios" placeholder="Comentario" rows="5" class="form-control input-md" required></textarea>
                    <br/>
                    <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required/>
                    <br/>
                    <input type="hidden" id="hdnespecie" name="hdnespecie" value="">
                    <div>
                        <input type="submit" value="Comentar" class="btn btn-primary"/>&nbsp;<a href="../">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>