<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reserva Natural</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        (function(){
             $.getJSON("obtenerEspecies").done(function (data) {
                if (data){
                    data = $.parseJSON(data);
                    var especies = $("#especies");
                    $(data).each(function() {
                        var div = $('<div class="col-md-4 col-sm-6 col-lg-3 well">');
                        $(div).append("Categoria: "+this.fields.categoria);
                        $(div).append('<img src="../'+this.fields.fotoFile+'" class="img-responsive" style="width:200px;height:200px"/>');
                        $(div).append( '<a href="verDetalle/?id=' + this.pk + '">' + this.fields.nombre +'</a><br>');
                        $(div).append("Descripcion Corta: "+this.fields.descripcion_corta);
                        $(especies).append(div);


                    });
                }
            });
        })();
        (function(){
            $.getJSON("isLogged").done(function (data) {
                if (data.mensaje == 'no'){
                    $("#add_user").show();
                    $("#cerrar_session").hide();
                    $("#login_user").show();
                }else{
                    $("#add_user").hide();
                    $("#cerrar_session").show();
                    $("#login_user").hide();
                }
            });
        })();

        function logout(){
            $.getJSON("logout").done(function (data) {
                if (data.mensaje == 'ok'){
                    location.reload();
                }else{
                    alert("Hubo un error");
                }
            });
        }


    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle-collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Biodiversidad</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="login_user"><a class="glyphicon glyphicon-log-in" href="ingresar">Login</a> </li>
                <li id="add_user"><a href="agregarUsuario">Registro</a> </li>
                <li id="cerrar_session"><a id="click_cerrar_sesion" class="glyphicon glyphicon-log-out" href="#" onclick="logout()">Logout</a> </li>
            </ul>
        </div>
    </div>
</nav>
<br />
<br />
<br />
<h2 align="center">Biodiversidad Catálogo de Especies</h2>
<h2 align="center">Nuestra Reserva</h2>
<br />
<div class="row" id="especies"/>
</body>
</html>