<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        function enviarForm(){
            if ($('#password').val() != $('#password2').val()){
                alert("Las contraseñas no coinciden");
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '../addUser/',
                data: JSON.stringify({
                    username: $('#username').val(),
                    first_name: $('#first_name').val(),
                    last_name: $('#last_name').val(),
                    password: $('#password').val(),
                    email: $('#email').val(),
                    intereses: $('#intereses').val()
                }),
                contentType:"application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    window.location = "../";
                },
                failure: function (errMsg) {
                    alert("Hubo un error "+errMsg);
                }
            });
        }
    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h2>Registro</h2>
            </div>
                <input id="username" name="username" type="text" placeholder="Usuario" class="form-control input-md" required/>
                <br />
                <input id="first_name" name="first_name" type="text" placeholder="Nombres" class="form-control input-md" required/>
                <br />
                <input id="last_name" name="last_name" type="text" placeholder="Apellidos" class="form-control input-md" required/>
                <br />
                <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required/>
                <br />
                <input id="password" name="password" type="password" placeholder="Contraseña" class="form-control input-md" required/>
                <br />
                <input id="password2" name="password2" type="password" placeholder="Confirmar Contraseña" class="form-control input-md" required/>
                <br />
                <input id="intereses" name="intereses" type="text" placeholder="Intereses Reserva" class="form-control input-md" required/>
                <br />
                <input type="button" value="Registrar" class="btn btn-primary" onclick="enviarForm();"/>
                <a href="../">Cancelar</a>

        </div>
    </div>
</body>
</html>